.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.netlify/
*.iml
.idea/
.vscode/

web/main.dart.js
web/flutter.js
web/flutter_bootstrap.js
web/flutter_service_worker.js
web/version.json
web/assets/
web/canvaskit/

.env
.env.*
!.env.example

*.log
*.tmp
